# Linear Algebra for CpE

## Laboratory 8 : System of Linear Equations

<h5>Coded and Submitted by: 
<h5>Alvarez, Lee Andrei D. 
<h5>201810225

<h3><b>Exercise

1. Try to find your own example of a system of linear equations (minimum of 2 equations) and solve them using the inverse equation. Explain the details of your example.

The cost of a ticket in a cinema show titled Avengers: End Game at IMAX Theatre in Mall of Asia was 8500 pesos for 12 senior and 3 non-senior. On the other hand, the cost of a ticket in a cinema show title Avengers: End Game at Glorietta 4 cinema was 6500 pesos for 8 senior and 3 non-senior in another music concert. How much was the cost of the ticket for each senior and non-senior that would watch the movie? 

$$ 12x + 3y = 8500  $$
$$ 8x + 3y = 6500  $$

In [80]:
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

In [90]:
peoples = ([[12,3],[8,3]])
cost = ([[8500],[6500]])

print(peoples,'\n',cost)

[[12, 3], [8, 3]]
 [[8500], [6500]]

In [91]:
## using inverse equation 

individual_price = np.linalg.inv(peoples) @ cost
print('The individual price for a senior is: PHP{:.2f}'.format(float(individual_price[0])))
print('The individual price for a non-senior is: PHP{:.2f}'.format(float(individual_price[1])))

The individual price for a senior is: PHP500.00
The individual price for a non-senior is: PHP833.33

2. Using your example in (1) solve it using np.linalg.solve(). Explain the functions and its difference using the inverse equation.

In [92]:
## using np.linalg.solve() 

prices2 = np.linalg.solve(peoples,cost)
print('The individual price of a senior is: PHP{:.2f}'.format(float(prices2[0])))
print('The individual price of a non-senior is: PHP{:.2f}'.format(float(prices2[1])))

The individual price of a senior is: PHP500.00
The individual price of a non-senior is: PHP833.33